@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.App {
  text-align: center;
}
hr.style1{
	border-top: 1px solid #8c8b8b;
}

.content{
  font-weight: bold;
}

.input{
  margin-right:10px
}



